body {
    color: rgb(14, 243, 14);
}
a {color: brown;}
a {margin: 0px;} 
body {background-color: yellow;}
header {background-color: teal;}
img { 
    border: 20px;
    border-color: whitesmoke;
    border-style: groove;
}
h2 {text-align: center;}